{% extends '::base.html.twig' %}

{% block body %}

<a href={{ path('request_job_new') }}>{% trans %}request.job.new{% endtrans %}</a>  

<table>
    <thead>
        <th>
            <td>{% trans %}job.name{% endtrans %}</td>
        </th>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>
                <a href="{{path('request_job_show', { 'id' : job.id }) }}" >
                    {{ job.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}