{% extends 'SGSAppBundle:Request:base.html.twig' %}

{% block body %}

<a class='btn btn-success btn-block' href={{ path('request_job_new') }}>{% trans %}request.job.new{% endtrans %}</a>  

<table class='table'>
    <thead>
        <tr>
            <th>{% trans %}job.name{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>
                <a href="{{path('request_job_show', { 'id' : job.id }) }}" >
                    {{ job.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}