{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('request_job_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="{% trans %}request.job.submit{%endtrans %}"/>
</form>

{% endblock %}