<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                '../app/Resources/less/custom.less'
                filter = 'cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row-fluid'>
                <div class='span10 offset1'>
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
