{% extends '::base.html.twig' %}

{% block body %}
    {% if error %}
            <div>{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path('request_login_check') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="_email" value="{{ last_email }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Login</button>
    </form>
{% endblock %}